# Development and Production
Django==1.4.18
python-social-auth==0.2.1
rdflib==4.1.2
rdfextras==0.4
SPARQLWrapper==1.6.4
requests==2.5.1
beautifulsoup4==4.3.2

# Production only
gunicorn==19.1.1
mysql-python==1.2.5
