/* $$unchecked-header$$ */

header, footer {
    background-color: #eee;
}

header {
    height: 70px;
    overflow: auto;
}

h1 {
    font-size: 24px;
    line-height: 26px;
}

#content {
    min-height: 320px;
}

td, th {
    padding: 5px;
    vertical-align: top;
}

th .filter {
    font-weight: normal;
}

.spinner {
    margin-left: .5em;
    width: 24px;
    height: 24px;
}

/* Bootstrap overwrites */
.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 600px;
    height: 40px;
    /*overflow: auto;*/
}

@media only screen and (max-width: 885px) {
    footer {
        height: 60px;
    }
    #footer_left, #footer_right  {
        padding:0;
    }
}

footer div {
    padding: 10px;
}

#footer_left {
    float: left;
    /*width: 580px;*/
}

#footer_right {
    float: right;
    text-align: right;
    /*width: 580px;*/
}
